
<h1 class="title_write">Wish a Happy Birthday to <%=params['name']%></h1>
<img style="float: left; margin-right: 15px;" src="<%=params['pic_square']%>">


<%= javascript_include_tag :js -%>

<div id="2cols">
	<div id="canned">
		<h2 class = "title_facts">My canned messages</h2>
		<span class="tip">Click to add them to your message</span>
		<table id="canned_messages">
		  <tbody>
		    <% @canned.each do |c| %>
		    	<tr class="canned_row">
			      <td><%= c.title %></td>
						<td class="hidden"><%= c.message %></div>
			    </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<div id="div_form">
		<%= form_tag :action => 'send_message' do %>

		  <%= text_area_tag("message_text", "Happy Birthday!\nDid you know that...", :size => "50x12") %>
		  <%= hidden_field_tag(:destination, @uid) %>
		  <%= hidden_field_tag(:day_bday, @bday[1]) %>
		  <%= hidden_field_tag(:month_bday, @bday[0]) %>

		  <br />
		  Time to send: 
			<select name="hour">
				<% (0..23).each do |h| %>
					<option value="<%= h %>"><%= h %></option>
				<% end %>
			</select>
			:
			<select name="min">
				<option value="00">00</option>
				<option value="30">30</option>
			</select>
		  <%= submit_tag "Enviar" %>
		<% end %>
<<<<<<< HEAD
	</select>
	:
	<select name="min">
		<option value="00">00</option>
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option value="40">40</option>
		<option value="50">50</option>
	</select>
  <%= submit_tag "Enviar" %>
<% end %>
=======
		<span id="inspiration">I need some inspiration...</span>
	</div>

</div>
>>>>>>> d714bd7edd1bd107012147fa9e37bc8473c5d6fd

<h2 class="title_facts">Curious facts about <%=day_and_month(params['bday'])%></h2> 
<span class="tip">Click on the facts to add them to your message</span>
<br />

<table id="facts">
  <tbody>
    <% @facts.each do |f| %>
    	<tr class="fact_row" onclick="add_fact(this)">
	      <td><%= f.text %></td>
	    </tr>
    <% end %>
  </tbody>
</table>