
<h1 class="title_write">Write a Message</h1>
<%= form_tag :action => 'send_message' do %>

  <%= text_area_tag("message_text", "Happy Birthday!\nDid you know that...", :size => "50x12") %>
  <%= hidden_field_tag(:destination, @uid) %>
  <%= hidden_field_tag(:day_bday, @bday[1]) %>
  <%= hidden_field_tag(:month_bday, @bday[0]) %>

  <br />
  <span class="time">Time to send:</span>
	<select name="hour">
		<% (0..23).each do |h| %>
			<option value="<%= h %>"><%= h %></option>
		<% end %>
	</select>
	<span class="time">:</span>
	<select name="min">
		<option value="00">00</option>
		<option value="30">30</option>
	</select>
  <%= submit_tag "Save" %>
<% end %>

<h2 class="title_facts">Curious facts about <%=day_and_month(params['bday'])%></h2> 
<span class="tip">Click on the facts to add them to your message</span>
<br />

<table id="facts">
  <tbody>
    <% @facts.each do |f| %>
    	<tr class="fact_row">
	      <td><%= f.text %></td>
	    </tr>
    <% end %>
  </tbody>
</table>