<a href="/cannedmessages"><span class="button">Canned Messages</span></a></br></br>


<% if flash[:success] %>
	<p class="success"><%= flash[:success] %></p>
<% end %>

<span class="title_birthdays">Next Birthdays</span>

<table border="0" style="width: 100%; margin-top: 12px;">
 <% if @aniversarios %>
	 <% for aniversario in @aniversarios %>
		 <tr style="margin: 10px; width: 100%;">
		 	<td style="background-color: #F7F7F7; margin: 10px; width: 100%;">
		 		<div style="float: left; margin: 10px; font-family: sans-serif; width: 100%;">
		 			<img style="float: left; margin-right: 15px;" src="<%=aniversario["pic_square"]%>">
			 		<span style="float: left; color: #3B5998; font-size: 15px;"><b><%=aniversario["name"]%> </b> </span></br>
		 			<span style="float: left; color: gray; font-size: 12px;"><%=aniversario["birthday_date"] %></span></br>
		 			<% if  Friend.has_message(aniversario["uid"])%>
		 				<span class="cancelButton" id="<%=aniversario['uid']%>" style="float: left; color: #3B5998; font-size: 12px; cursor: pointer"onClick="">Cancel message</span>
		 				<span id="<%=aniversario['uid']%>_message" style="float: left; margin: 10px; font-family: sans-serif; color: gray; font-size: 12px;">
		 					<%= Friend.get_message(aniversario["uid"]).hour_send %>:
		 					<%= Friend.get_message(aniversario["uid"]).min_send %>
		 					<%= Friend.get_message(aniversario["uid"]).message %>
		 				</span>
		 				<%= link_to :controller => "friends", :action => "write_message", :uid => aniversario['uid'], :bday => aniversario['birthday_date'] do %>
                            <span id="<%=aniversario['uid']%>_send" style="display: none; float: left; color: #3B5998; font-size: 12px;">Schedule a message</span>
                        <% end %>
		 			<% else %>
		 				<%= link_to :controller => "friends", :action => "write_message", :uid => aniversario['uid'], :name => aniversario['name'], :pic_square => aniversario['pic_square'], :bday => aniversario['birthday_date'] do %>
                            <span style="float: left; color: #3B5998; font-size: 12px;">Schedule a message</span>
                        <% end %>
		 			<%end%>
		 		</div>

		 	</td>
		 </tr>
	 <% end %>
 <% end %>
</table>

<script>
    $(".cancelButton").click(function () {
			
			$.post("messages/cancel_message/", { id: $(this).attr("id") });
			
    	var id = $(this).attr("id")
      	$("#"+id+"_message").remove()
      	$("#"+id+"_send").show()
      	$("#"+id).remove()
    });

</script>

